body {
  background-color: #e3c4a8;
  line-height: 23px;
}

h1 {
  color: #7c3c21;
}

h3 {
  color: #7c3c21;
}

hr {
  border-style: dotted none none;
  border-color: #7c3c21;
  border-width: 5px;
  width: 10%;
}
